:root {
    --header-color: #51e2f5;
    --bgc-color: #f5f5f5;
    --padding: 20px;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgc-color);
    width: 100vw;
}

header {
    background-color: var(--header-color);
    padding: var(--padding);
    color: var(--text-color);
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: black;
}

main {
    min-height: 80vh;
    padding: var(--padding);
    max-width: 800px;
    margin: 0 auto;
}

main form {
    display: flex;
    justify-content: center;
}

form input[type="text"],
button[type="submit"],
.result div a {
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: calc(var(--padding)/2);
}

form input[type="text"] {
    flex-grow: 1;
}

form input {
    background-color: #8458B3;
    color: white;
}

form input::placeholder {
    color: white;
}

form button[type="submit"] {
    background-color: #8458B3;
    color: var(--text-color);
    margin-left: 10px;
    cursor: pointer;
}

footer {
    background-color: #6f9196;
    color: var(--text-color);
    padding: var(--padding);
    text-align: center;
    font-size: 18px;
    position: fixed;
    width: 100%;

}

.result {
    background-color: white;
    padding: var(--padding);
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.result p {
    margin-top: 10px;
}

.result p[class="partOfSpeech"] {
    font-style: italic;
    color: #808080;
    margin-top: 2px;
}

.result div {
    margin-top: 15px;
}

.result div a {
    text-decoration: none;
    background-color: #8458B3;
    color: var(--text-color);
}

.result li {
    padding: calc(var(--padding/6));
    margin-left: 20px;
}

@media screen and (max-width:320px) {
    main form {
        flex-direction: column;
    }

    form button[type="submit"] {
        margin-top: 10px;
        margin-left: 0px;
    }

}